<template>
  <div id="app">
    <!-- 路由基座 -->
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'App',
  created () {
    if (!localStorage.getItem('userId')) {
      this.$router.push({'name': 'login'})
    }
  }
}
</script>

<style scoped>
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50
  }
</style>
