body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}
body {
	font: 12px"宋体", "Arial Narrow", HELVETICA;
	background: #fff;
	-webkit-text-size-adjust: 100%;
}
a {
	color: #2a98ef;
	text-decoration: none;
}
a:hover {
	color: #cd0200;
	text-decoration: underline;
}
em {
	font-style: normal;
}
li {
	list-style: none;
}
img {
	border: 0;
	vertical-align: middle;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	word-wrap: break-word;
}
table thead tr,
table tbody tr {
	height: 50px;
  line-height: 50px;
  border: 1px solid #ddd;
}
table thead tr {
  background: #f6f6f6;
  border: none;
}
/* table tbody tr:nth-child(odd) {
	background: #fff;
}
table tbody tr:nth-child(even) {
	background: #ecf6fd;
} */
table tbody tr:hover {
  background: #ecf6fd;
}
