<template>
  <div>
      <!-- 共用组件 -->
      <!-- <menu-list></menu-list> -->
      <div class="header">
        <a>IT匠后台管理系统</a>
        <div class="userInfo">
          <Dropdown>
            <a href="javascript:void(0)">
                张旭超
                <Icon type="ios-arrow-down"></Icon>
            </a>
            <DropdownMenu slot="list">
                <DropdownItem><span @click="dropDownFun">退出登录</span></DropdownItem>
            </DropdownMenu>
        </Dropdown>
        </div>
        <div style="clear: both"></div>
      </div>
      <v-row>
        <v-col span='4'>
          <v-menu style='width: 100%' mode='inline' :data='inlineMenuData' @item-click='itemClick'></v-menu>
        </v-col>
        <v-col span='20'>
          <router-view></router-view>
        </v-col>
      </v-row>
    </div>
</template>
<script>
import MenuList from '../components/MenuList'
export default {
  name: 'Home',
  components: {
    MenuList
  },
  data () {
    return {
      inlineMenuData: [
        {
          name: '订单列表',
          value: 'order-list',
          selected: true,
          icon: 'mail',
          path: ''
        },
        {
          name: '用户列表',
          icon: 'appstore',
          path: 'user-list',
          value: 'user-list'
        },
        {
          name: '工程师列表',
          icon: 'setting',
          path: 'engineer-list',
          value: 'engineer-list'
        }
      ],
      userList: [],
      userInfo: {}
    }
  },
  methods: {
    itemClick ($event) {
      console.log($event)
      this.$router.push({ name: $event[0].value })
    },
    dropDownFun () {
      localStorage.clear()
      this.$router.push({'name': 'login'})
    }
  },
  created () {
    this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
    if (!this.userList) {
      this.$router.push('login')
    }
  }
}
</script>
<style scoped>
.header {
  background: #2a98ef;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  text-align: left;
}
.header a {
  color: #fff;
}
.userInfo {
  float: right;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 20px;
}
</style>
