<template>
  <div>
    <!-- <Table :columns="columns1" :data="data1"></Table> -->
    <table width="100%">
      <thead>
      <tr>
        <th>{{columns1[0].title}}</th>
        <th>{{columns1[1].title}}</th>
        <th>{{columns1[2].title}}</th>
        <th>{{columns1[3].title}}</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item, index) in data1" :key="index">
        <td>{{item.number}}</td>
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>{{new Date(item.date - 0) | moment("YYYY-MM-DD hh:mm:ss")}}</td>
        <td>
          <a>新增</a><span> | </span>
          <a>修改</a><span> | </span>
          <a>删除</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  data () {
    return {
      columns1: [
        {
          title: '订单编号',
          key: 'number'
        },
        {
          title: '订单名称',
          key: 'name'
        },
        {
          title: '订单地址',
          key: 'address',
          width: 300
        },
        {
          title: '下单时间',
          key: 'date'
        }
      ],
      data1: [
        {
          number: 'DD00000001',
          name: '手机-iphone',
          address: '北京市大兴区枣园尚城北区11号楼2单元601',
          date: '1533225600000'
        },
        {
          number: 'DD00000002',
          name: '手机-华为',
          address: '北京市大兴区枣园尚城北区11号楼2单元601',
          date: '1533225600000'
        },
        {
          number: 'DD00000003',
          name: '手机-小米',
          address: '北京市大兴区枣园尚城北区11号楼2单元601',
          date: '1533225600000'
        },
        {
          number: 'DD00000004',
          name: '手机-OPPO',
          address: '北京市大兴区枣园尚城北区11号楼2单元601',
          date: '1533225600000'
        }
      ]
    }
  }
}
</script>
