<template>
  <div class="login">
      <!-- {{GLOBAL.url}} -->
    <div class="form">
      <div class="title">IT匠后台管理系统</div>
        <br/>
        <br/>
        <form style="margin-right: 50px">
          <v-row>
            <v-col span="6">
              <div class="label">用户名</div>
            </v-col>
            <v-col span="18">
              <div>
                <Input v-model="username" placeholder="注册用户名/手机号/邮箱"/>
              </div>
            </v-col>
          </v-row>
          <br/>
          <v-row>
            <v-col span="6">
              <div class="label">密码</div>
            </v-col>
            <v-col span="18">
              <div>
                <Input type="password" v-model="password" placeholder="密码" />
              </div>
            </v-col>
          </v-row>
          <p style="text-align: right">
            <br/>
            <Button type="success" size="large" @click="loginInFun()">登录</Button>
          </p>
        </form>
      </div>
    </div>
</template>
<script>
export default {
  created () {
    let params = {
      telphone: '15000232323',
      password: '000000'
    }
    let pro1 = this.GLOBAL.httpPost('itArtison/user/login', params)
    let pro2 = this.GLOBAL.httpPost('itArtison/user/login', params)
    // 使用 Promise.all()
    Promise.all([pro1, pro2]).then(
      (res) => {
        console.log(res)
      }
    ).catch(
      (err) => {
        console.log(err)
      }
    )
  },
  mounted () {

  },
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    loginInFun () {
      localStorage.setItem('userId', '00001')
      let params = {
        telphone: this.username,
        password: this.password
      }
      this.GLOBAL.httpPost('itArtison/user/login', params).then(
        (res) => {
          console.log(res)
          this.$Message.info(res.message)
          // 登录成功过以后，这里从初session
          // 先将对象转换为json字符串
          localStorage.setItem('userInfo', JSON.stringify(res.data))
          if (res.code === '0000') {
            this.$router.push({'name': 'Home'})
          }
        },
        (err) => {
          console.log(err)
          this.$Message.info(err.message)
        }
      ).catch((err) => {
        console.log(err)
      })
    }
  },
  filter: {},
  directives: {},
  components: {}
//   ,
//   directives: { // 指令是一个对象列表
//   // 注册的指令名称
//     focus: {
//     // 只调用一次，指令第一次绑定到元素的时候调用。
//       bind () {
//         // alert('')
//       },
//       inserted (el, binding, vnode, oldVnode) {
//         // el获取元素接单，这样可以使用各种方法，属性, 操作DOM节点
//         el.focus()
//         console.log(el, binding, vnode, oldVnode)
//       },
//       update (el, binding, vnode, oldVnode) {
//         alert('update')
//         console.log(el, binding, vnode, oldVnode)
//       },
//       componentUpdated () {
//         alert('componentUpdated')
//       }
//     }
//   }
}
</script>

<style scoped>
.login {
    background: #2698ef;
    color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.form {
    width: 500px;
    padding: 20px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    height: 300px;
    top: 50%;
    margin-top: -180px;
}
.title {
    font-size: 30px;
}
.label {
    font-size: 20px;
}
</style>
